apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: utro-ingress
  namespace: default
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: utro.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: utro-ui
                port:
                  number: 3000