apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: default
spec:
  template:
    spec:
      containers:
        - name: n8n
          env:
            - name: N8N_HOST
              value: "n8n.local"
            - name: WEBHOOK_URL
              value: "https://n8n.local/"
            - name: N8N_PROTOCOL
              value: "https"
